*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  padding-left: 20px;
  padding-right: 10px;
}

.left,.right{
  display: flex;
  align-items: center;
}

.dots{
  font-family: 'Material Icons';
  color: black;
  padding: 5px;
}

.dots:hover{
  background-color: rgb(233, 233, 233);
  border-radius: 50%;
}

header a{
  text-decoration: none;
  color: black;
  padding: 15px;
}

button{
  margin: 15px;
  background-color: #1a73e8;
  padding: 7px 20px 7px 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

a:hover{
  text-decoration: underline;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

main a{
  text-decoration: none;
}
main a:hover{
  text-decoration: underline;
}

footer{
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 20px;
}
footer a{
  text-decoration: none;
  color: grey;
  padding: 10px;
}
footer a:hover{
  text-decoration: underline;
}

form input[type="text"]{
  width: 450px;
  height: 40px;
  border-radius: 100px;
  border: 1px solid grey;
  margin: 20px;
  padding-left: 40px;
  position: relative;
}

.search{
  position: absolute;
  left: 750px;
  top: 488px;
  color: grey;
}

.mic{
  position: absolute;
  left: 1150px;
  top: 488px;
  color: grey;
}

form input[type="text"]:hover{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

form input[type="text"]:focus{
  outline: none;
}

.buttons{
  display: flex;
  justify-content: center;
}

.buttons input{
  border: none;
  width: 150px;
  height: 30px;
  margin: 10px;
  border-radius: 5px;
}

.buttons input:hover{
  border: 1px solid grey;
}